<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to JPG Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' ) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap">
</head>

<body>
    <div class="content-area">
        <div class="title-area">
            <h1>PDF to JPG Converter</h1>
        </div>
        <div class="form-area">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="pdf">Select PDF:</label>
                <input type="file" id="file" name="file" accept="application/pdf">
                <button type="submit">Convert</button>
            </form>
        </div>
        <div class="footer">
            <p> &copy KAUS4R 2024</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js' ) }}"></script>
</body>

</html>
